.container{

    background: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

main{
    height: 94vh;
    width: 96vw;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: scroll;
}


nav{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 8%;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;
}

.search_box{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
}


#search_box{
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #099cff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: large;
}

#search_button{
    
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ff9a9e;
    font-weight: 600;
    font-size: large;
}

.buttons{

    width: 28%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}


.buttons button{

    background-color: transparent;
    border: transparent;
    font-size: large;
    transition: 100ms;
}


.buttons button:hover{

    cursor: pointer;
    transition: 100ms;
    border-bottom: 3px solid black;
}


#banner{

    width: 100%;
    height: 100%;
}


.banner{
    margin-top: 150px;
   
}


#know_more{
    padding: 20px;
    font-size: larger;
    margin: 30px;
    margin-top: 80px;
    background-color: #454444;
    color: white;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categories{

    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card img{

    height: 300px;
    width: 400px;
    transition: 300ms;

}


.card img:hover{
    transition: 300ms;
    transform: scale(1.3);
}

.card{
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


label{
    font-size: x-large;
}



.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
    object-fit: cover;
}


.brands img{

    height: 100px;
    width: auto;
}


footer{
    width: 100%;
    background-color: #454444;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}


.form{

    border: 1px solid white;
    width: 30%;
    padding: 20px;
}


#input{
    width: 93%;
    margin: 15px;
   padding: 10px;
   font-size: large;
}

#comment{
    resize: none;
    margin-top: 20px;
    margin: 20px;
    font-size: x-large;
    width: 93%;
}


#submit{
    margin-top: 30px;
    font-size: larger;
    padding: 10px;
    margin: 20px;
}

.location{
    border: 1px solid white;
    padding: 30px;

}